<%= form_for(@attendance_picture) do |f| %>
<% if @attendance_picture.errors.any? %>
<div id="error_explanation" class="alert alert-danger">
	<a href="#" class="close" data-dismiss="alert">&times;</a>
	<h2><%= pluralize(@attendance_picture.errors.count, "error") %> prohibited this point from being saved:</h2>
	<ul>
		<% @attendance_picture.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="form-group">
	<%= f.label :attendance_setting_id %>
	<%= f.select :attendance_setting_id, options_from_collection_for_select(AttendanceSetting.where(:flag=>true).all(), 'id', 'title') %>
</div>
<div class="form-group">
	<%= f.label :title %>
	<%= f.text_field :title %>
</div>
<div class="form-group">
	<%= f.label :start_date %>
	<%= f.date_select :start_date %>
</div>
<div class="form-group">
	<%= f.label :photo %>
	<%= f.file_field :photo %>
	<%= f.hidden_field :photo_cache %>
</div>
<div class="form-group">
	<%= f.label :flag %>
	<%= f.check_box :flag %>
</div>
<div class="form-group actions">
	<%= f.submit :class=>"btn btn-primary" %>
</div>
<% end %>
