<%= form_for([@quiz_question.quiz,@quiz_question,QuizAnswer.new]) do |f| %>
<div class="box">
	<div class="box-header">
		<h2><i class="glyphicon glyphicon-align-justify"></i><span class="break"></span><%= t(:quiz_answer_insert) %></h2>
		<div class="box-icon">
			<a href="#" class="btn-minimize"><i class="glyphicon glyphicon-chevron-up"></i></a>
		</div>
	</div>
	<div class="box-content">
		<div class="form-group">
			<%= f.label :title %>
			<%= f.text_field :title,:class=>"form-control" %>
		</div>
		<div class="form-group">
			<%= f.label :is_correct %>
			<%= f.check_box :is_correct %>
		</div>
		<div class="form-group actions">
			<%= f.submit :class=>"btn btn-primary" %>
		</div>
	</div>
</div>
<% end %>