<tr>
	<td>
		<%=link_to ad_schedule.id,ad_ad_schedule_path(@ad,ad_schedule,show_param(params)) %>
	</td>
	<td>
		<%=link_to_if(ad_schedule.title?,ad_schedule.title,ad_ad_schedule_path(@ad,ad_schedule,show_param(params))) do %>
		<%=link_to t(:no_insert_data),ad_ad_schedule_path(@ad,ad_schedule,show_param(params)) %>
		<% end %>
	</td>
	<td>
		<%=link_to "#{ad_schedule.start_time} ~ #{ad_schedule.end_time}",ad_ad_schedule_path(@ad,ad_schedule,show_param(params)) %>		
	</td>
	<td><%= raw flagToString(ad_schedule.flag) %></td>
	<% if can?(:update, ad_schedule) || can?(:delete, ad_schedule) %>
	<td>
		<% if can?(:update, ad_schedule) %>
		<%= link_to edit_ad_ad_schedule_path(@ad,ad_schedule),:class=>"btn btn-default" do %>
		<i class="glyphicon glyphicon-pencil"></i> <%=t(:link_edit) %>
		<% end %>
		<% end %>
		<% if can?(:delete, ad_schedule) %>
		<%= link_to [@ad,ad_schedule], :method => :delete, :data => { :confirm => t(:delete_confirm) },:class=>"btn btn-danger" do %>
		<i class="glyphicon glyphicon-trash"></i> <%=t(:link_delete) %>
		<% end %>
		<% end %>
	</td>
	<% end %>
</tr>