<%= form_for [:admin,@ad,AdSchedule.new],:html=>{:class=>"form-horizontal"} do |f| %>
<div class="box">
	<div class="box-header">
		<h2><i class="glyphicon glyphicon-align-justify"></i><span class="break"></span><%= t('activerecord.models.ad_schedule')%></h2>
		<div class="box-icon">
			<a href="#" class="btn-minimize"><i class="glyphicon glyphicon-chevron-up"></i></a>
		</div>
	</div>
	<div class="box-content">
		<div class="form-group">
			<%= f.label :title %>
			<%= f.text_field :title %>
		</div>
		<div class="form-group">
			<%= f.label :start_time %>
			<%= f.datetime_select :start_time %>
		</div>
		<div class="form-group">
			<%= f.label :end_time %>
			<%= f.datetime_select :end_time %>
		</div>
		<div class="form-group">
			<%= f.label :expire_time %>
			<%= f.datetime_select :expire_time %>
		</div>
		<div class="form-group">
			<%= f.label :end_hour %>
			<div class="controls">
				<select name="start_hour" class="input-small">
					<option value="1">01</option>
					<option value="2">02</option>
					<option value="3">03</option>
					<option value="4">04</option>
					<option value="5">05</option>
					<option value="6">06</option>
					<option value="7">07</option>
					<option value="8">08</option>
					<option value="9">09</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
				</select>
				~
				<select name="end_hour" class="input-small">
					<option value="1">01</option>
					<option value="2">02</option>
					<option value="3">03</option>
					<option value="4">04</option>
					<option value="5">05</option>
					<option value="6">06</option>
					<option value="7">07</option>
					<option value="8">08</option>
					<option value="9">09</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<%= label_tag '',t(:label_weekday) %>
			<div class="controls span6">
				<table class="table table-bordered table-striped">
					<tr>
						<th><%= f.label :weekday0 %></th>
						<th><%= f.label :weekday1 %></th>
						<th><%= f.label :weekday2 %></th>
						<th><%= f.label :weekday3 %></th>
						<th><%= f.label :weekday4 %></th>
						<th><%= f.label :weekday5 %></th>
						<th><%= f.label :weekday6 %></th>
					</tr>
					<tr>
						<td><%= f.check_box :weekday0 %></td>
						<td><%= f.check_box :weekday1 %></td>
						<td><%= f.check_box :weekday2 %></td>
						<td><%= f.check_box :weekday3 %></td>
						<td><%= f.check_box :weekday4 %></td>
						<td><%= f.check_box :weekday5 %></td>
						<td><%= f.check_box :weekday6 %></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="clearfix">
			&nbsp;
		</div>
		<div class="form-group">
			<%= f.label :flag %>
			<%= f.check_box :flag %>
		</div>
		<div class="clearfix">
			&nbsp;
		</div>
		<div>
			<%= f.submit :class=>"btn btn-primary" %>
		</div>
		<div class="clearfix">
			&nbsp;
		</div>
	</div>
</div>
<% end %>