<div class="row-fluid">
	<h3 class="pull-left"><%= @controller_name %> <%=actionNameChange controller.action_name %></h3>
</div>
<table class="table table-bordered table-striped">
	<colgroup>
		<col style="width:80px;" />
		<col />
		<col style="width:80px;" />		
		<col style="width:200px;" />
		<% if can?(:update, GameAmount) || can?(:delete, GameAmount) %>
		<col <%=raw manage_width(GameAmount) %> />
		<% end %>
	</colgroup>
	<thead>
		<tr>
			<th><%=t(:label_number) %></th>
			<th><%=t(:label_bet_amount) %></th>
			<th><%=t(:label_flag) %></th>			
			<th><%=t(:label_created_at) %></th>
			<% if can?(:update, GameAmount) || can?(:delete, GameAmount) %>
			<th><%=t(:label_manage) %></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% unless @game_amounts.empty? %>
		<% @game_amounts.each do |game_amount| %>
		<tr>
			<td><%=link_to game_amount.id,admin_game_amount_path(game_amount) %></td>
			<td><%=link_to game_amount.amount,admin_game_amount_path(game_amount) %></td>
			<td><%= raw flagToString(game_amount.flag) %></td>			
			<td><%=game_amount.created_at %></td>
			<% if can?(:update, game_amount) || can?(:delete, game_amount) %>
			<td>
				<% if can? :update, game_amount %>
				<%= link_to edit_admin_game_amount_path(game_amount),:class=>"btn btn-default" do %>
				<i class="glyphicon glyphicon-pencil"></i> <%=t(:link_edit) %>
				<% end %>
				<% end %>
				<% if can? :delete, game_amount %>		
				<%= link_to admin_game_amount_path(game_amount), :method => :delete, :data => { :confirm =>t(:delete_confirm)},:class=>"btn btn-small btn-danger pull-right" do %>
				<i class="glyphicon glyphicon-trash"></i> <%=t(:link_delete) %>
				<% end %>
				<% end %>
			</td>
			<% end %>
		</tr>
		<% end %>
		<% else %>
		<tr>
			<td colspan="6"><%=t(:no_data)%></td>
		</tr>
		<% end %>
	</tbody>
</table>
<div class="row">
	<div class="col-xs-6 col-sm-3 col-md2">
	<% if can? :create, GameAmount %>					
	<%= link_to new_admin_game_amount_path, :class=>"btn btn-primary" do %>
	<i class="glyphicon glyphicon-plus"></i> <%=t(:link_new) %>
	<% end %>
	<% end %>
	</div>
	<%= paginate @game_amounts %>
</div>
