<% if notice %>
<%= render :partial => 'layouts/notice',:locals=>{:notice=>notice} %>
<% end %>
<div class="sl_show">
	<p>
		<b>베팅 금액</b>
		<%= @game_amount.amount %> <%=t(:label_point)%>
	</p>
	<p>
		<b><%=t(:label_created_at) %></b>
		<%= @game_amount.created_at %>
	</p>
	<p>
		<b><%=t(:label_updated_at) %></b>
		<%= @game_amount.updated_at %>
	</p>
</div>
<% if can? :update, @game_amount %>
<%= link_to t(:link_edit), edit_game_amount_path(@game_amount) %> |
<% end %>
<%= link_to t(:link_list), game_amounts_path %>
