<%= form_for [:admin,@attendance] do |f| %>
<% if @attendance.errors.any? %>
<div id="error_explanation" class="alert alert-danger">
	<a href="#" class="close" data-dismiss="alert">&times;</a>
	<h2><%= pluralize(@attendance.errors.count, "error") %> prohibited this point from being saved:</h2>
	<ul>
		<% @attendance.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="form-group">
	<%= f.label :attendance_event_id %>
	<%= f.select :attendance_event_id, options_from_collection_for_select(AttendanceEvent.where(:flag=>true).all(), 'id', 'title',@attendance.attendance_event_id),{},:class=>"form-control" %>
</div>
<div class="form-group">
	<%= f.label :user_id %>
	<%= f.number_field :user_id,:class=>"form-control",:required=>"required" %>
	<%= link_to t(:user_id_find),'/users/user_id_select',:id=>'user_id_select',:title=>t(:user_id_find),:target=>'_blank',:class=>'btn modal_link form-control',:'data-target'=>"#modal",:'data-toggle'=>"modal",:style=>'vertical-align:top' %>
</div>
<div class="form-group">
	<%= f.label :today %>
	<%= f.date_select :today,:class=>"form-control" %>
</div>
<div class="form-group">
	<%= f.label :count %>
	<%= f.number_field :count,:class=>"form-control" %>
</div>
<div class="form-group">
	<%= f.label :flag %>
	<%= f.check_box :flag %>
</div>
<div class="actions">
	<%= f.submit :class=>"btn btn-primary" %>
</div>
<% end %>
