<% if notice %>
<%= render :partial => 'layouts/notice',:locals=>{:notice=>notice} %>
<% end %>
<div class="sl_show">
	<p>
		<b><%=t(:label_title) %></b>
		<%= @ad_type.title %>
	</p>
	<p>
		<b><%=t(:label_flag) %></b>
		<%= raw flagToString(@ad_type.flag) %>
	</p>
	<p>
  	<b><%=t(:label_created_at) %></b>
  	<%= @ad_type.created_at %>
  </p>
  <p>
  	<b><%=t(:label_updated_at) %></b>
  	<%= @ad_type.created_at %>
  </p>
</div>
<%= link_to t(:link_edit), edit_ad_type_path(@ad_type) %> |
<%= link_to t(:link_list), ad_types_path %>

