<%= form_for [:admin,@ad_log] do |f| %>
<% if @ad_log.errors.any? %>
<div id="error_explanation" class="alert alert-danger">
	<a href="#" class="close" data-dismiss="alert">&times;</a>
	<h2><%= pluralize(@ad_log.errors.count, "error") %> prohibited this ad from being saved:</h2>
	<ul>
		<% @ad_log.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="form-group">
	<%= f.label :title, t(:label_title) %>
	<%= f.text_field :title,:required=>"required" %>
</div>
<div class="form-group">
	<%= f.label :file_prefix, 'file_prefix' %>
	<%= f.text_field :file_prefix,:required=>"required" %>
</div>
<div class="form-group">
	<%= f.label :max_file_count, 'file_count' %>
	<%= f.number_field :max_file_count,:required=>"required" %>
</div>
<div class="form-group">
	<%= f.label :flag, t(:label_flag) %>
	<%= f.check_box :flag %>
</div>
<div class="form-group actions">
	<%= f.submit :class=>"btn btn-primary" %>
</div>
<% end %>
