<%= form_for[:admin,@store_good] do |f| %>
	<% if @store_good.errors.any? %>
		<div id="error_explanation" class="alert alert-error">
    		<a href="#" class="close" data-dismiss="alert">&times;</a>
      <h2><%= pluralize(@store_good.errors.count, "error") %> prohibited this point from being saved:</h2>
      <ul>
      <% @store_good.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div class="form-horizontal">	
		<div class="form-group">
		  	<%= f.label :store_type_id, :class => "control-label" %>
		  	<div class="controls"><%= f.select :store_type_id, options_from_collection_for_select(StoreType.find(:all,:conditions=>{:flag=>true}), 'id', 'title',@store_good.store_type_id) %></div>
		</div>
		<div class="form-group">
			<%= f.label :title, :class => "control-label" %>
			<div class="controls"><%= f.text_field :title %></div>
		</div>
		<div class="form-group">
			<%= f.label :description_short, :class => "control-label" %>
			<div class="controls"><%= f.text_field :description_short %></div>
		</div>
		<div class="form-group">
			<%= f.label :description, :class => "control-label" %>
			<div class="controls"><%= f.text_area :description, :rows => 8, :cols => 80, :class => "span6" %></div>
		</div>
		<div class="form-group">
			<%= f.label :stock_count, :class => "control-label" %>
			<div class="controls"><%= f.number_field :stock_count %></div>
		</div>
		<div class="form-group">
			<%= f.label :order_count, :class => "control-label" %>
			<div class="controls"><%= f.number_field :order_count %></div>
		</div>
		<div class="form-group">
			<%= f.label :sale_start_time, :class => "control-label" %>
			<div class="controls"><%= f.datetime_select :sale_start_time %></div>
		</div>
		<div class="form-group">
			<%= f.label :sale_end_time, :class => "control-label" %>
			<div class="controls"><%= f.datetime_select :sale_end_time %></div>
		</div>
		<div class="form-group">
			<%= f.label :sale_price, :class => "control-label" %>
			<div class="controls"><%= f.number_field :sale_price %></div>
		</div>
		<div class="form-group">
			<%= f.label :sale_type, :class => "control-label" %>
			<div class="controls"><%= f.text_field :sale_type %></div>
		</div>
		<div class="form-group">
			<%= f.label :proirity_flag, :class => "control-label" %>
			<div class="controls"><%= f.check_box :proirity_flag %></div>
		</div>
		<div class="form-group">
			<%= f.label :hot_flag, :class => "control-label" %>
			<div class="controls"><%= f.check_box :hot_flag %></div>
		</div>
		<div class="form-group">
			<%= f.label :new_flag, :class => "control-label" %>
			<div class="controls"><%= f.check_box :new_flag %></div>
		</div>
		<div class="form-group">
			<%= f.label :flag, :class => "control-label" %>
			<div class="controls"><%= f.check_box :flag %></div>
		</div>
		<div class="form-group actions">
			<%= f.submit :class=>"btn btn-primary" %>
		</div>
	</div>
<% end %>