<%= form_for [:admin,@store_good] do |f| %>
<% if @store_good.errors.any? %>
<div id="error_explanation" class="alert alert-danger">
	<a href="#" class="close" data-dismiss="alert">&times;</a>
	<h2><%= pluralize(@store_good.errors.count, "error") %> prohibited this point from being saved:</h2>
	<ul>
		<% @store_good.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="form-group">
	<%= f.label :store_type_id %>
	<%= f.select :store_type_id, options_from_collection_for_select(StoreType.where(:flag=>true).all(), 'id', 'title',@store_good.store_type_id),{},:class=>"form-control" %>
</div>
<div class="form-group">
	<%= f.label :title %>
	<%= f.text_field :title,:class=>"form-control" %>
</div>
<div class="form-group">
	<%= f.label :description_short %>
	<%= f.text_field :description_short,:class=>"form-control" %>
</div>
<div class="form-group">
	<%= f.label :description %>
	<%= f.text_area :description, :rows => 8, :cols => 80,:class=>"form-control" %>
</div>
<div class="form-group">
	<%= f.label :stock_count %>
	<%= f.number_field :stock_count,:class=>"form-control" %>
</div>
<div class="form-group">
	<%= f.label :order_count %>
	<%= f.number_field :order_count,:class=>"form-control" %>
</div>
<div class="form-group">
	<%= f.label :sale_start_time %>
	<%= f.datetime_select :sale_start_time %>
</div>
<div class="form-group">
	<%= f.label :sale_end_time %>
	<%= f.datetime_select :sale_end_time %>
</div>
<div class="form-group">
	<%= f.label :sale_price %>
	<%= f.number_field :sale_price,:class=>"form-control" %>
</div>
<div class="form-group">
	<%= f.label :sale_type %>
	<%= f.text_field :sale_type,:class=>"form-control" %>
</div>
<div class="form-group">
	<%= f.label :proirity_flag %>
	<%= f.check_box :proirity_flag %>
</div>
<div class="form-group">
	<%= f.label :hot_flag %>
	<%= f.check_box :hot_flag %>
</div>
<div class="form-group">
	<%= f.label :new_flag %>
	<%= f.check_box :new_flag %>
</div>
<div class="form-group">
	<%= f.label :flag %>
	<%= f.check_box :flag %>
</div>
<div class="form-group actions">
	<%= f.submit :class=>"btn btn-primary" %>
</div>
<% end %>