<div class="row">
	<h3 class="col-xs-12"><%= @controller_name %> <%= actionNameChange controller.action_name %></h3>
	<div class="box col-xs-12">
		<div class="box-header">
			<h2><i class="glyphicon glyphicon-align-justify"></i><span class="break"></span><%= t(:search)%></h2>
			<div class="box-icon">
				<a href="#" class="btn-maximize"><i class="glyphicon glyphicon-chevron-down"></i></a>
				<a class="btn-close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
			</div>
		</div>
		<div style="display:none" class="box-content">
			<%= render 'search_form' %>
		</div>
	</div>
</div>
<div class="table-responsive">
	<table class="table table-bordered table-striped">
		<colgroup>
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
			<col  style="width:80px;" />
			<% if can?(:update, StoreGood) || can?(:delete, StoreGood) %>
			<col <%= raw manage_width(StoreGood) %> />
			<% end %>
		</colgroup>
		<thead>
			<tr>
				<th><%= t(:label_number)%></th>
				<th><%= t(:label_title)%></th>
				<th><%= t(:label_stock_count)%></th>
				<th><%= t(:label_order_count)%></th>
				<th><%= t(:label_sale_period)%></th>
				<th><%= t(:label_sale_price)%></th>
				<th><%= t(:label_sale_type)%></th>
				<th><%= t(:label_flag)%></th>
				<% if can?(:update, StoreGood) || can?(:delete, StoreGood) %>
				<th><%= t(:label_manage)%></th>
				<% end %>
			</tr>
		</thead>
		<tbody>
			<% unless @store_goods.empty? %>
			<% @store_goods.each do |store_good| %>
			<tr>
				<td><%= link_to store_good.id,admin_store_good_path(store_good,params) %></td>
				<td><%= link_to store_good.title,admin_store_good_path(store_good,params) %></td>
				<td><%= store_good.stock_count %></td>
				<td><%= store_good.order_count %></td>
				<td><%= store_good.sale_start_time.to_date %> ~ <%= store_good.sale_end_time.to_date %></td>
				<td style="text-align:right"><%= number_with_delimiter store_good.sale_price.to_i %></td>
				<td><%= store_good.sale_type %></td>
				<td><%= raw flagToString(store_good.flag) %></td>
				<% if can?(:update, store_good) || can?(:delete, store_good) %>
				<td> <% if can? :update, store_good %>
				<%= link_to edit_admin_store_good_path(store_good),:class=>"btn btn-default" do %> <i class="glyphicon glyphicon-pencil"></i> <%= t(:link_edit) %>
				<% end %>
				<% end %>
				<% if can? :delete, store_good %>
				<%= link_to admin_store_good_path(store_good), :method => :delete, :data => { :confirm =>t(:delete_confirm) },:class=>"btn btn-danger" do %> <i class="glyphicon glyphicon-trash"></i> <%= t(:link_delete) %>
				<% end %>
				<% end %> </td>
				<% end %>
			</tr>
			<% end %>
			<% else %>
			<tr>
				<td colspan="8"><%= t(:no_data)%></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
<div class="row">
	<div class="col-xs-6 col-sm-3 col-md2">
		<% if can? :create, StoreGood %>
		<%= link_to new_admin_store_good_path,:class=>"btn btn-primary" do %>
		<i class="glyphicon glyphicon-plus"></i> <%= t(:link_new) %>
		<% end %>
		<% end %>
		<% unless @store_goods.empty? %>
		<%=link_to admin_store_goods_path(:format=>"xls",:params=>params), :class=>"btn btn-default" do %>
		<i class="glyphicon glyphicon-file"></i> <%= t(:link_download_excel) %>
		<% end %>
		<% end %>
	</div>
	<%= paginate @store_goods %>
</div>
