<tr>
	<td><%=ad_target.target.target_type.title %></td>	
	<td><%=ad_target.target.title %>	</td>
	<td><%= raw flagToString(ad_target.flag) %></td>
	<% if can?(:update, ad_target) || can?(:delete, ad_target) %>
	<td>
		<% if can?(:update, ad_target) %>
		<%= link_to edit_ad_ad_schedule_ad_target_path(@ad_schedule.ad,@ad_schedule,ad_target),:class=>"btn btn-small pull-left" do %>
		<i class="glyphicon glyphicon-pencil"></i> <%=t(:link_edit) %>
		<% end %>
		<% end %>
		<% if can?(:delete, ad_target) %>
		<%= link_to [@ad_schedule.ad,@ad_schedule,ad_target], :method => :delete, :data => { :confirm => t(:delete_confirm) },:class=>"btn btn-small btn-danger pull-right" do %>
		<i class="glyphicon glyphicon-trash"></i> <%=t(:link_delete) %>
		<% end %>
		<% end %>
	</td>
	<% end %>
</tr>