<%= form_for [:admin,@ad_schedule.ad,@ad_schedule,AdTarget.new] do |f| %>
<div class="box">
	<div class="box-header">
		<h2><i class="glyphicon glyphicon-align-justify"></i><span class="break"></span><%=t(:label_target) %></h2>
		<div class="box-icon">
			<a href="#" class="btn-minimize"><i class="glyphicon glyphicon-chevron-up"></i></a>
			<a class="btn-close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
		</div>
	</div>
	<div class="box-content">
 		<div class="form-group">
			<%= f.label :target_id,t(:label_target) %>
			<%= f.select :target_id, options_from_collection_for_select(Target.where(:flag=>true).all(), 'id', 'title') %>
		</div>
 	<div class="form-group actions">
			<%= f.submit :class=>"btn btn-primary" %>
		</div>
	</div>
</div>
<% end %>