<%= form_for [:admin,@quiz] do |f| %>
<% if @quiz.errors.any? %>
<div id="error_explanation" class="alert alert-danger">
	<h2><%= pluralize(@quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>
	<ul>
		<% @quiz.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="form-group">
	<%= f.label :quiz_type %>
	<%= f.select :quiz_type, [['포인트지급', 1], ['경품응모', 2]],:class=>"form-control" %>
</div>
<div class="form-group">
	<%= f.label :title %>
	<%= f.text_field :title,:class=>"form-control" %>
</div>
<div class="form-group">
	<%= f.label :description %>
	<%= f.text_field :description,:class=>"form-control" %>
</div>
<div class="form-group">
	<%= f.label :full_description %>
	<%= f.text_field :full_description,:class=>"form-control" %>
</div>
<div class="form-group">
	<%= f.label :sponsor %>
	<%= f.text_field :sponsor,:class=>"form-control" %>
</div>
<div class="form-group">
	<%= f.label :sponsor_url %>
	<%= f.text_field :sponsor_url,:class=>"form-control" %>
</div>
<div class="form-group">
	<%= f.label :price %>
	<%= f.text_field :price ,:class=>"form-control" %>
</div>
<div class="form-group">
	<%= f.label :budget %>
	<%= f.text_field :budget,:class=>"form-control" %>
</div>
<div class="form-group">
	<%= f.label :balance %>
	<%= f.text_field :balance,:class=>"form-control" %>
</div>
<div class="form-group">
	<%= f.label :point %>
	<%= f.text_field :point,:class=>"form-control" %>
</div>
<div class="form-group">
	<%= f.label :start_time %>
	<%= f.datetime_select :start_time, :class=>"form-control" %>
</div>
<div class="form-group">
	<%= f.label :end_time %>
	<%= f.datetime_select :end_time, :class=>"form-control"%>
</div>
<div class="form-group">
	<%= f.label :photo %>
		<% if @quiz%>
		<% if @quiz.photo? %>
		<%= image_tag(@quiz.photo.medium_thumb) %>
		<br />
		<% end %>
		<% end %>
		<%= f.file_field :photo %>
		<%= f.hidden_field :photo_cache %>
</div>
<div class="form-group ctions">
	<%= f.submit :class=>"btn btn-primary"%>
</div>
<% end %>
