<aside class="col-xs-3 col-lg-2">
	<nav class="nav-collapse sidebar-nav">
		<ul class="nav main-menu">
			<li><%=link_to admin_path do %><i class="glyphicon glyphicon-home glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:menu_home)%></span><% end %></li>
			<% if can?(:read, Ad) || can?(:read, Sponsor) %>	
			<li>
				<a class="dropmenu" href="#"><i class="glyphicon glyphicon-th-list glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:menu_ad)%></span></a>
				<ul <% if params[:controller]=='admin/ads' || params[:controller]=='admin/sponsors' %>class="current"<% end %>>
					<% if can? :read, Ad %>					
					<li><%=link_to admin_ads_path do %><i class="glyphicon glyphicon-align-left glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:menu_ad)%> </span><% end %></li>
					<% end %>
					<% if can? :read, Sponsor %>
					<li><%=link_to admin_sponsors_path do %><i class="glyphicon glyphicon-align-left glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:menu_sponsor)%> </span><% end %></li>
					<% end %>
				</ul>				
			</li>
			<% end %>
			<% if can?(:read, Stat) %>
			<li>
				<a class="dropmenu" href="#"><i class="glyphicon glyphicon-signal glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:menu_stat)%></span></a>
				<ul <% if params[:controller]=='admin/stats' %>class="current"<% end %>>		
					<li><%=link_to admin_stats_path(:params=>{:type=>'market'}) do %><i class="glyphicon glyphicon-align-left glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:submenu_stat_market) %></span><% end %></li>				
					<li><%=link_to admin_stats_path(:params=>{:type=>'user'})  do %><i class="glyphicon glyphicon-align-left glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:submenu_stat_user) %></span><% end %></li>				
					<li><%=link_to admin_stats_path(:params=>{:type=>'receive',:ad_type_id=>2})  do %><i class="glyphicon glyphicon-align-left glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:submenu_stat_receive) %></span><% end %></li>				
					<li><%=link_to admin_stats_path(:params=>{:type=>'receive_and_call',:ad_type_id=>2}) do %><i class="glyphicon glyphicon-align-left glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:submenu_stat_receive_and_call) %></span><% end %></li>				
					<li><%=link_to admin_stats_path(:params=>{:type=>'app',:ad_type_id=>6}) do %><i class="glyphicon glyphicon-align-left glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:submenu_stat_app) %></span><% end %></li>			
					<li><%=link_to admin_stats_path(:params=>{:type=>'banner',:ad_type_id=>1}) do %><i class="glyphicon glyphicon-align-left glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:submenu_stat_banner) %></span><% end %></li>								
				</ul>
			</li>
			<% end %>
			<% if can?(:read, Point) || can?(:read, Request) %>		
			<li>
				<a class="dropmenu" href="#"><i class="glyphicon glyphicon-gift glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:menu_point)%></span></a>
				<ul <% if params[:controller]=='admin/points' || params[:controller]=='admin/requests' %>class="current"<% end %>>
					<% if can? :read, Point %>					
					<li><%=link_to admin_points_path do %><i class="glyphicon glyphicon-th-list glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:submenu_point)%></span><% end %></li>
					<% end %>
					<% if can? :read, Request %>					
					<li><%=link_to admin_requests_path do %><i class="glyphicon glyphicon-th-list glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:submenu_request)%></span><% end %></li>
					<% end %>
				</ul>
			</li>
			<% end %>
			<% if can?(:read, RouletteSetting) || can?(:read, RoulettePlay)  %>
			<li>
				<a class="dropmenu" href="#"><i class="glyphicon glyphicon-random glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:menu_game)%></span></a>
				<ul <% if params[:controller]=='admin/roulette_settings' || params[:controller]=='admin/roulette_backgrounds' || params[:controller]=='admin/roulette_presents' || params[:controller]=='admin/roulette_plays_user_address_books' || params[:controller]=='admin/roulette_plays' %>class="current"<% end %>>
					<% if can? :read, RouletteSetting %>
					<li><%=link_to admin_roulette_settings_path do %><i class="glyphicon glyphicon-th-list glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:submenu_roulette_setting)%></span><% end %></li>
					<% end %>
					<% if can? :read, RouletteBackground %>
					<li><%=link_to admin_roulette_backgrounds_path do %><i class="glyphicon glyphicon-th-list glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:submenu_roulette_background)%></span><% end %></li>
					<% end %>
					<% if can? :read, RoulettePresent %>
					<li><%=link_to admin_roulette_presents_path do %><i class="glyphicon glyphicon-th-list glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:submenu_roulette_present)%></span><% end %></li>
					<% end %>
					<% if can? :read, RoulettePlaysUserAddressBook %>	
					<li><%=link_to admin_roulette_plays_user_address_books_path do %><i class="glyphicon glyphicon-th-list glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:submenu_roulette_plays_user_address_book)%></span><% end %></li>
					<% end %>
					<% if can? :read, RoulettePlay %>	
					<li><%=link_to admin_roulette_plays_path do %><i class="glyphicon glyphicon-th-list glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:submenu_roulette_play)%></span><% end %></li>
					<% end %>
				</ul>
			</li>
			<% end %>
			<% if can?(:read, Quiz)  %>
			<li>
				<a class="dropmenu" href="#"><i class="glyphicon glyphicon-random glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:menu_quiz)%></span></a>
				<ul <% if params[:controller]=='admin/quiz_types' || params[:controller]=='admin/quizzes' || params[:controller]=='admin/quiz_logs' || params[:controller]=='admin/quizzes_user_address_books' %>class="current"<% end %>>					
					<% if can? :read, Quiz %>						
					<li><%=link_to admin_quizzes_path do %><i class="glyphicon glyphicon-th-list glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:submenu_quiz)%></span><% end %></li>
					<% end %>
					<% if can? :read, QuizType %>						
					<li><%=link_to admin_quiz_types_path do %><i class="glyphicon glyphicon-th-list glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:submenu_quiz_type)%></span><% end %></li>
					<% end %>					
					<% if can? :read, QuizLog %>						
					<li><%=link_to admin_quiz_logs_path do %><i class="glyphicon glyphicon-th-list glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:submenu_quiz_log)%></span><% end %></li>
					<% end %>					
					<% if can? :read, QuizzesUserAddressBook %>	
					<li><%=link_to admin_quizzes_user_address_books_path do %><i class="glyphicon glyphicon-th-list glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:submenu_quizzes_user_address_book)%></span><% end %></li>
					<% end %>
				</ul>
			</li>
			<% end %>
			<% if can?(:read, StoreGood) || can?(:read, StoreOrder) %>
			<li>
				<a class="dropmenu" href="#"><i class="glyphicon glyphicon-shopping-cart glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:menu_store)%></span></a>
				<ul <% if params[:controller]=='admin/store_goods' || params[:controller]=='admin/store_orders' %>class="current"<% end %>>
					<% if can? :read, StoreGood %>					
					<li><%=link_to admin_store_goods_path do %><i class="glyphicon glyphicon-th-list glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:submenu_product)%></span><% end %></li>
					<% end %>
					<% if can? :read, StoreOrder %>					
					<li><%=link_to admin_store_orders_path do %><i class="glyphicon glyphicon-th-list glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:submenu_order)%></span><% end %></li>
					<% end %>
				</ul>
			</li>
			<% end %>
			<% if can? :read, User %>			
			<li>
				<a class="dropmenu" href="#"><i class="glyphicon glyphicon-user glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:menu_user)%></span></a>
				<ul <% if params[:controller]=='admin/operators' || params[:controller]=='admin/users' || params[:controller]=='admin/user_login_logs'|| params[:controller]=='admin/user_address_books' %>class="current"<% end %>>
					<% if can? :read, Operator %>
					<li><%=link_to admin_operators_path do %><i class="glyphicon glyphicon-th-list glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:submenu_operator)%></span><% end %></li>
					<% end %>
					<li><%=link_to admin_users_path do %><i class="glyphicon glyphicon-th-list glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:submenu_user)%></span><% end %></li>
					<li><%=link_to admin_user_login_logs_path do %><i class="glyphicon glyphicon-th-list glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:submenu_user_login_log)%></span><% end %></li>
					<li><%=link_to admin_user_address_books_path do %><i class="glyphicon glyphicon-th-list glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:submenu_user_address_book)%></span><% end %></li>
				</ul>
			</li>
			<% end %>
			<% if can?(:read, Attendance) %>
			<li>
				<a class="dropmenu" href="#"><i class="glyphicon glyphicon-book glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:menu_attendance)%></span></a>
				<ul <% if params[:controller]=='admin/attendances' || params[:controller]=='admin/attendance_events' %>class="current"<% end %>>
					<% if can? :read, Attendance %>					
					<li><%=link_to admin_attendances_path do %><i class="glyphicon glyphicon-th-list glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:submenu_attendance)%></span><% end %></li>
					<% end %>
					<% if can? :read, AttendanceEvent %>					
					<li><%=link_to admin_attendance_events_path do %><i class="glyphicon glyphicon-th-list glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:submenu_attendance_setting)%></span><% end %></li>
					<% end %>
				</ul>
			</li>
			<% end %>
			<% if can?(:read, Notice) || can?(:read, Faq) %>
			<li>
				<a class="dropmenu" href="#"><i class="glyphicon glyphicon-list-alt glyphicon-white"></i><span class="hidden-tablet"> <%=t(:menu_board)%></span></a>
				<ul <% if params[:controller]=='admin/notices' || params[:controller]=='admin/faqs' %>class="current"<% end %>>
					<% if can? :read, Notice %>					
					<li><%=link_to admin_notices_path do %><i class="glyphicon glyphicon-th-list glyphicon-white"></i><span class="hidden-tablet"> <%=t(:submenu_notice)%></span><% end %></li>
					<% end %>
					<% if can? :read, Faq %>					
					<li><%=link_to admin_faqs_path do %><i class="glyphicon glyphicon-th-list glyphicon-white"></i><span class="hidden-tablet"> <%=t(:submenu_faq)%></span><% end %></li>
					<% end %>
				</ul>
			</li>
			<% end %>
			<% if can? :read, AppVersion %>
			<li>
				<%=link_to admin_app_versions_path do %><i class="glyphicon glyphicon-download-alt glyphicon-white"></i><span class="hidden-tablet"> <%=t(:menu_app_version)%></span><% end %>
			</li>
			<% end %>
			<% if can? :read, Message %>
			<li>
				<%=link_to admin_messages_path do %><i class="glyphicon glyphicon-envelope glyphicon-white"></i><span class="hidden-tablet"> <%=t(:menu_message)%></span><% end %>
			</li>
			<% end %>
			<% if current_admin.role[0].title == "administrator" || current_admin.role[0].title == "operator" || current_admin.role[0].title == "sub_operator"   %>
			<li>
				<a class="dropmenu" href="#"><i class="glyphicon glyphicon-tasks glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:menu_basic)%></span></a>
				<ul>
					<li><%=link_to admin_app_markets_path do %><i class="glyphicon glyphicon-th-list glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:submenu_app_market)%></span><% end %></li>					
					<li><%=link_to admin_app_log_types_path do %><i class="glyphicon glyphicon-th-list glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:submenu_app_log_type)%></span><% end %></li>										
					<li><%=link_to admin_ad_types_path do %><i class="glyphicon glyphicon-th-list glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:submenu_ad_type)%></span><% end %></li>
					<li><%=link_to admin_ad_file_types_path do %><i class="glyphicon glyphicon-th-list glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:submenu_ad_file_type)%></span><% end %></li>
					<li><%=link_to admin_ad_log_types_path do %><i class="glyphicon glyphicon-th-list glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:submenu_ad_log_type)%></span><% end %></li>										
					<li><%=link_to admin_point_types_path do %><i class="glyphicon glyphicon-th-list glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:submenu_point_type)%></span><% end %></li>
					<li><%=link_to admin_banks_path do %><i class="glyphicon glyphicon-th-list glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:submenu_bank)%></span><% end %></li>
					<li><%=link_to admin_request_settings_path do %><i class="glyphicon glyphicon-th-list glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:submenu_request_setting)%></span><% end %></li>	
					<li><%=link_to admin_request_types_path do %><i class="glyphicon glyphicon-th-list glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:submenu_request_type)%></span><% end %></li>
					<li><%=link_to admin_addresses_path do %><i class="glyphicon glyphicon-th-list glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:submenu_address)%></span><% end %></li>
					<li><%=link_to admin_address_sections_path do %><i class="glyphicon glyphicon-th-list glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:submenu_address_section)%></span><% end %></li>					
					<li><%=link_to admin_target_types_path do %><i class="glyphicon glyphicon-th-list glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:submenu_target_type)%></span><% end %></li>					
					<li><%=link_to admin_targets_path do %><i class="glyphicon glyphicon-th-list glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:submenu_target)%></span><% end %></li>					
					<li><%=link_to admin_store_order_statuses_path do %><i class="glyphicon glyphicon-th-list glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:submenu_store_order_status)%></span><% end %></li>										
				</ul>
			</li>
			<% end %>
			<li>
				<%= link_to destroy_admin_session_path do %>
					<i class="glyphicon glyphicon-lock glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:logout) %></span>
				<% end %>
			</li>
		</ul>
	</nav>
</aside>