<% if notice %>
<%= render :partial => 'layouts/notice',:locals=>{:notice=>notice} %>
<% end %>
<div class="sl_show">
	<p>
		<b><%=t(:label_rank)%></b>
		<% if @game.game_setting_id? %>		
		<%= @game.game_setting.title %>
		<% else %>
		<%=t(:rank_fail) %>
		<% end %>
	</p>
	<p>
		<b><%=t(:label_point) %></b>
		<%= @game.point.amount %>
	</p>	
	<p>
		<b><%=t(:label_created_at) %></b>
  	<%= @game.created_at %>
	</p>
	<p>
		<b><%=t(:label_updated_at) %></b>
		<%= @game.updated_at %>
	</p>
</div>
<% if can? :update, @game %>
<%= link_to t(:link_edit), edit_admin_game_path(@game) %> |
<% end %>
<%= link_to t(:link_list), admin_games_path(list_param(params)) %>
