<%= form_for [:admin,@ad_log_type] do |f| %>
<% if @ad_log_type.errors.any? %>
<div id="error_explanation" class="alert alert-danger">
	<a href="#" class="close" data-dismiss="alert">&times;</a>
	<h2><%= pluralize(@ad_log_type.errors.count, "error") %> prohibited this ad from being saved:</h2>
	<ul>
		<% @ad_log_type.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="form-group">
	<%= f.label :title %>
	<%= f.text_field :title,:class=>"form-control",:required=>"required" %>
</div>
<div>
	<%= f.submit :class=>"btn btn-primary" %>
</div>
<% end %>
