<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String"><%=t(:label_number)%></Data></Cell>
        <Cell><Data ss:Type="String"><%=t(:label_rank)%></Data></Cell>
        <Cell><Data ss:Type="String">user_id</Data></Cell>        
        <Cell><Data ss:Type="String"><%=t(:label_get_point)%></Data></Cell>
        <Cell><Data ss:Type="String"><%=t(:label_created_at)%></Data></Cell>
      </Row>
      <% @roulette_plays.each do |roulette_play| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= roulette_play.id %></Data></Cell>
        <Cell><Data ss:Type="String"><% if roulette_play.roulette_setting %><%=roulette_play.roulette_setting.title %><% else %><%=t(:rank_fail) %><% end %></Data></Cell>
        <Cell><Data ss:Type="String"><% if roulette_play.user %><%=roulette_play.user.id %><% else %><%=t(:no_exist_user) %><% end %></Data></Cell>       
        <Cell><Data ss:Type="String"><%= roulette_play.amount %></Data></Cell>
        <Cell><Data ss:Type="String"><%= roulette_play.created_at %></Data></Cell>
      </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>
