<%= form_for [:admin,@point] do |f| %>
<% if @point.errors.any? %>
<div id="error_explanation" class="alert alert-danger">
	<a href="#" class="close" data-dismiss="alert">&times;</a>
	<h2><%= pluralize(@point.errors.count, "error") %> prohibited this point from being saved:</h2>
	<ul>
		<% @point.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="form-group form-inline">
	<%= f.label :user_id %></br/>
	<%= f.number_field :user_id,:class=>"form-control",:required=>"required" %>
	<%= link_to t(:user_id_find),'/admin/users/user_id_select?no_layout=true',:id=>'user_id_select',:title=>t(:user_id_find),:target=>'_blank',:class=>'btn btn-default modal_link',:'data-target'=>"#modal",:'data-toggle'=>"modal",:style=>'vertical-align:top' %>
</div>
<div class="form-group">
	<%= f.label :point_type_id %>
	<%= f.select :point_type_id, options_from_collection_for_select(PointType.where(:flag=>true).all, 'id', 'title',@point.point_type_id),{},:class=>"form-control" %>
</div>
<div class="form-group">
	<%= label_tag :ad_id,t(:label_ad) %>
	<%= select_tag :ad_id, options_from_collection_for_select(Ad.where(:flag=>true).all, 'id', 'title',@point.point_type_id), {:include_blank => 'None',:class=>"form-control"} %>
</div>
<div class="form-group">
	<%= f.label :amount %>
	<%= f.number_field :amount,:class=>"form-control" %>
</div>
<div class="form-group actions">
	<%= f.submit :class=>"btn btn-primary" %>
</div>
<% end %>
