<div class="row">
	<h3 class="col-xs-12 col-sm-6"><%= @controller_name %> <%= actionNameChange controller.action_name %></h3>
</div>
<div class="table-responsive">
<table>
  <tr>
    <th>Ad</th>
    <th>User</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ad_comments.each do |ad_comment| %>
  <tr>
    <td><%= ad_comment.ad %></td>
    <td><%= ad_comment.user %></td>
    <td><%= ad_comment.content %></td>
    <td><%= link_to 'Show', ad_comment %></td>
    <td><%= link_to 'Edit', edit_admin_ad_comment_path(ad_comment) %></td>
    <td><%= link_to 'Destroy', ad_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
</div>

<%= link_to 'New Ad comment', new_admin_ad_comment_path %>
