<%= form_for(@game_setting) do |f| %>
  <% if @game_setting.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
    		<a href="#" class="close" data-dismiss="alert">&times;</a>
      <h2><%= pluralize(@game_setting.errors.count, "error") %> prohibited this sponsor from being saved:</h2>
      <ul>
      <% @game_setting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label :title %>
    <%= f.text_field :title,:required=>"required" %>
  </div>
  <div class="control-group">
    <%= f.label :percentage,"확률 / 남은 확률 #{100-GameSetting.sum(:percentage)}" %>
    <%= f.text_field :percentage %>
  </div>
  <div class="control-group">
    <%= f.label :amount %>
    <%= f.number_field :amount,:required=>"reqiured" %> <%=t(:label_times)%>
  </div>
  <div class="actions">
    <%= f.submit :class=>"btn btn-primary" %>
  </div>
<% end %>
