<%= form_for([@ad_schedule.ad,@ad_schedule,@ad_target_cid]) do |f| %>
  <div class="form-group">
    <%= f.label :cid %>
    <%= f.text_field :cid,:required=>"required" %>
  </div>
  <div class="form-group">
    <%= f.label :flag %>
    <%= f.check_box :flag %>
  </div>
  <div class="form-group actions">
    <%= f.submit :class=>"btn btn-primary" %>
  </div>
<% end %>
