<%= form_for [:admin,@user,UserTarget.new] do |f| %>
<% if @user.errors.any? %>
<div id="error_explanation" class="alert alert-danger">
	<a href="#" class="close" data-dismiss="alert">&times;</a>
	<h2><%= pluralize(@user.errors.count, "error") %> prohibited this request from being saved:</h2>
	<ul>
		<% @user.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="form-group">
	<%= f.label :target_id,t(:label_target) %>
	<%= f.select :target_id, options_from_collection_for_select(Target.where(:flag=>true).all(), 'id', 'title') %>
</div>
<div class="form-group actions">
	<%= f.submit :class=>"btn btn-primary" %>
</div>
<% end %>