<tr>
	<td><%=user_target.target.target_type.title %></td>
	<td><%=user_target.target.title %>	</td>
	<td><%= raw flagToString(user_target.target.flag) %></td>
	<% if can?(:update, user_target) || can?(:delete, user_target) %>
	<td>
		<% if can?(:update, user_target) %>
		<%= link_to edit_admin_user_user_target_path(@user,user_target),:class=>"btn btn-default" do %>
		<i class="glyphicon glyphicon-pencil"></i> <%=t(:link_edit) %>
		<% end %>
		<% end %>
		<% if can?(:delete, user_target) %>
		<%= link_to [:admin,@user,user_target], :method => :delete, :data => { :confirm => t(:delete_confirm) },:class=>"btn btn-danger" do %>
		<i class="glyphicon glyphicon-trash"></i> <%=t(:link_delete) %>
		<% end %>
		<% end %>
	</td>
	<% end %>
</tr>