<%= form_for [:admin,@roulette_background] do |f| %>
<% if @roulette_background.errors.any? %>
<div id="error_explanation" class="alert alert-danger">
	<a href="#" class="close" data-dismiss="alert">&times;</a>
	<h2><%= pluralize(@roulette_background.errors.count, "error") %> prohibited this point from being saved:</h2>
	<ul>
		<% @roulette_background.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="form-group">
	<%= f.label :title %>
	<%= f.text_field :title,:class=>"form-control" %>
</div>
<div class="form-group">
	<%= f.label :photo %>
	<%= f.file_field :photo %>
	<%= f.hidden_field :photo_cache %>
</div>
<div class="form-group">
	<%= f.label :flag %>
	<%= f.check_box :flag %>
</div>
<div class="form-group actions">
	<%= f.submit :class=>"btn btn-primary" %>
</div>
<% end %>
