<div class="row">
	<h3 class="col-xs-12 col-sm-6"><%= @controller_name %> <%= actionNameChange controller.action_name %></h3>
</div>
<div class="table-responsive">
	<table class="table table-bordered table-striped">
		<colgroup>
			<col style="width:80px;" />
			<col />
			<col style="width:130px;" />
			<% if can?(:update, AppVersion) || can?(:delete, AppVersion) %>
			<col <%= raw manage_width(AppVersion) %> />
			<% end %>
		</colgroup>
		<thead>
			<tr>
				<th><%= t(:label_number)%></th>
				<th><%= t(:label_version)%></th>
				<th><%= t(:label_update_date)%></th>
				<% if can?(:update, AppVersion) || can?(:delete, AppVersion) %>
				<th><%= t(:label_manage) %></th>
				<% end %>
			</tr>
		</thead>
		<tbody>
			<% unless @app_versions.empty? %>
			<% @app_versions.each do |app_version| %>
			<tr>
				<td><%= app_version.id %></td>
				<td class="mw"><%= link_to app_version.client_version,admin_app_version_path(app_version) %></td>
				<td><%= app_version.update_date.to_date %></td>
				<% if can? :update, app_version %>
				<td> <%= link_to edit_admin_app_version_path(app_version),:class=>"btn btn-small btn-default" do %> <i class="glyphicon glyphicon-pencil"></i> <%= t(:link_edit)%>
				<% end %>
				<%= link_to admin_app_version_path(app_version), :method => :delete, :data => { :confirm => t(:delete_confirm)},:class=>"btn btn-small btn-danger" do %> <i class="glyphicon glyphicon-trash"></i> <%= t(:link_delete)%>
				<% end %> </td>
				<% end %>
			</tr>
			<% end %>
			<% else %>
			<tr>
				<td colspan="4"><%= t(:no_data)%></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
<div class="row">
	<div class="col-xs-6 col-sm-3 col-md2">
		<% if can? :create, AppVersion %>
		<%= link_to new_admin_app_version_path,:class=>"btn btn-primary" do %>
		<i class="glyphicon glyphicon-plus"></i> <%= t(:link_new) %>
		<% end %>
		<% end %>
	</div>
	<%= paginate @app_versions %>
</div>