<%= form_for [:admin,@user_target_address.user,@user_target_address] do |f| %>
<% if @user_target_address.errors.any? %>
<div id="error_explanation" class="alert alert-danger">
	<a href="#" class="close" data-dismiss="alert">&times;</a>
	<h2><%= pluralize(@user_target_address.errors.count, "error") %> prohibited this request from being saved:</h2>
	<ul>
		<% @user_target_address.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="form-group">
	<%= f.label :address_id %>
	<%= f.select :address_id, options_from_collection_for_select(Address.where(:flag=>true).all(), 'id', 'full_address',@user_target_address.address_id) %>
</div>
<div class="form-group actions">
	<%= f.submit :class=>"btn btn-primary" %>
</div>
<% end %>