<h1>Listing sms_messages</h1>

<table>
  <tr>
    <th>Msg status</th>
    <th>Msg phone</th>
    <th>Msg callback</th>
    <th>Msg charset</th>
    <th>Msg text</th>
    <th>Msg sendtime</th>
    <th>Msg rslttime</th>
    <th>Msg lasttime</th>
    <th>Msg rsltcode</th>
    <th>Msg priority</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
		<% @smss.each do |sms| %>
  <tr>
    <td><%= sms.msg_status %></td>
    <td><%= sms.msg_phone %></td>
    <td><%= sms.msg_callback %></td>
    <td><%= sms.msg_charset %></td>
    <td><%= sms.msg_text %></td>
    <td><%= sms.msg_sendtime %></td>
    <td><%= sms.msg_rslttime %></td>
    <td><%= sms.msg_lasttime %></td>
    <td><%= sms.msg_rsltcode %></td>
    <td><%= sms.msg_priority %></td>
    <td><%= link_to 'Show', sms_message %></td>
    <td><%= link_to 'Edit', edit_sms_message_path(sms_message) %></td>
    <td><%= link_to 'Destroy', sms_message, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sms message', new_sms_message_path %>
