<p id="notice"><%= notice %></p>

<p>
  <b>Msg status:</b>
  <%= @sms_message.msg_status %>
</p>

<p>
  <b>Msg phone:</b>
  <%= @sms_message.msg_phone %>
</p>

<p>
  <b>Msg callback:</b>
  <%= @sms_message.msg_callback %>
</p>

<p>
  <b>Msg charset:</b>
  <%= @sms_message.msg_charset %>
</p>

<p>
  <b>Msg text:</b>
  <%= @sms_message.msg_text %>
</p>

<p>
  <b>Msg sendtime:</b>
  <%= @sms_message.msg_sendtime %>
</p>

<p>
  <b>Msg rslttime:</b>
  <%= @sms_message.msg_rslttime %>
</p>

<p>
  <b>Msg lasttime:</b>
  <%= @sms_message.msg_lasttime %>
</p>

<p>
  <b>Msg rsltcode:</b>
  <%= @sms_message.msg_rsltcode %>
</p>

<p>
  <b>Msg priority:</b>
  <%= @sms_message.msg_priority %>
</p>


<%= link_to 'Edit', edit_admin_sms_message_path(@sms_message) %> |
<%= link_to 'Back', admin_sms_messages_path %>
