<% if notice %>
<%= render :partial => 'layouts/notice',:locals=>{:notice=>notice} %>
<% end %>
<div class="sl_show">
	<p>
		<b><%=t(:label_title) %></b>
		<%= @sponsor.title %>
	</p>
	<p>
		<b><%=t(:label_flag) %></b>
		<%=raw flagToString(@sponsor.flag) %>
	</p>
	<p>
		<b><%=t(:label_created_at) %></b>
		<%= @sponsor.created_at %>
	</p>
	<p>
		<b><%=t(:label_updated_at) %></b>
		<%= @sponsor.created_at %>
	</p>
</div>
<% if can? :update, @sponsor %>
<%= link_to t(:link_edit), edit_admin_sponsor_path(@sponsor) %> |
<% end %>
<%= link_to t(:link_list), admin_sponsors_path %>
