<%= form_for @store_order do |f| %>
	<% if @store_order.errors.any? %>
	<div id="error_explanation" class="alert alert-error">
   <a href="#" class="close" data-dismiss="alert">&times;</a>	
		<h2><%= pluralize(@store_order.errors.count, "error") %> prohibited this store_order from being saved:</h2>
		<ul>
			<% @store_order.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>
	<div class="form-horizontal">		
	<div class="control-group">
		<%= f.label :store_good_id, :class => "control-label" %>
		<div class="controls"><%= f.number_field :store_good_id %></div>
	</div>
	<div class="control-group">
		<%= f.label :user_id, :class => "control-label" %>
		<div class="controls"><%= f.number_field :user_id %></div>
	</div>
	<div class="control-group">
		<%= f.label :amount, :class => "control-label" %>
		<div class="controls"><%= f.number_field :amount %></div>
	</div>
	<div class="control-group">
		<%= f.label :customer_tel, :class => "control-label" %>
		<div class="controls"><%= f.text_field :customer_tel %></div>
	</div>
	<div class="control-group">
		<%= f.label :delivery_tel, :class => "control-label" %>
		<div class="controls"><%= f.text_field :delivery_tel %></div>
	</div>
	<div class="control-group">
		<%= f.label :delivery_name, :class => "control-label" %>
		<div class="controls"><%= f.text_field :delivery_name %></div>
	</div>
	<div class="control-group">
		<%= f.label :delivery_zipcode, :class => "control-label" %>
		<div class="controls"><%= f.text_field :delivery_zipcode %></div>
	</div>
	<div class="control-group">
		<%= f.label :delivery_address_1, :class => "control-label" %>
		<div class="controls"><%= f.text_field :delivery_address_1 %></div>
	</div>			    
	<div class="control-group">
		<%= f.label :delivery_address_2, :class => "control-label" %>
		<div class="controls"><%= f.text_field :delivery_address_2 %></div>
	</div>
	<div class="control-group">
		<%= f.label :delivery_note, :class => "control-label" %>
		<div class="controls"><%= f.text_field :delivery_note %></div>
	</div>
	<div class="control-group">
		<%= f.label :store_order_status_id, :class => "control-label" %>
	 <div class="controls"><%= select_tag :store_order_status_id, options_from_collection_for_select(StoreOrderStatus.find(:all,:conditions=>{:flag=>true}), 'id', 'title',@store_order.store_order_status_id), {:include_blank => false} %></div>
	</div>
	<div class="control-group">
		<%= f.label :shipping_method, :class => "control-label" %>
		<div class="controls"><%= f.text_field :shipping_method %></div>
	</div>
	<div class="control-group">
		<%= f.label :shipping_track_number, :class => "control-label" %>
		<div class="controls"><%= f.text_field :shipping_track_number %></div>
	</div>
	<div class="control-group">
		<%= f.label :shipping_time, :class => "control-label" %>
		<div class="controls"><%= f.datetime_select :shipping_time %></div>
	</div>
	<div class="control-group">
		<%= f.label :shipping_flag, :class => "control-label" %>
		<div class="controls"><%= f.check_box :shipping_flag %></div>
	</div>
	<div class="control-group">
		<%= f.label :return_reason, :class => "control-label" %>
		<div class="controls"><%= f.text_field :return_reason %></div>
	</div>
	<div class="control-group">
		<%= f.label :return_time, :class => "control-label" %>
		<div class="controls"><%= f.datetime_select :return_time %></div>
	</div>
	<div class="control-group">
		<%= f.label :return_flag, :class => "control-label" %>
		<div class="controls"><%= f.check_box :return_flag %></div>
	</div>
</div>
	<div class="control-group actions">
		<%= f.submit :class=>"btn btn-primary" %>
	</div>
<% end %>
