<tr>
	<td>
		<%=store_good_picture.title %>		
	</td>
	<td>
		<%=link_to store_good_store_good_picture_path(@store_good,store_good_picture),:class=>'modal_link',:'data-target'=>"#modal",:'data-toggle'=>"modal" do %>
			<%=image_tag store_good_picture.photo.medium_thumb %>
		<% end %>
	</td>
	<td>
		<%=store_good_picture.created_at %>		
	</td>
	<td>
		<%=store_good_picture.updated_at %>		
	</td>
	<td><%= raw flagToString(store_good_picture.flag) %></td>
	<td>
		<%= link_to edit_store_good_store_good_picture_path(@store_good,store_good_picture),:class=>"btn btn-default" do %>
		<i class="glyphicon glyphicon-pencil"></i> <%=t(:link_edit) %>
		<% end %>
		<%= link_to [@store_good,store_good_picture], :method => :delete, :data => { :confirm => t(:delete_confirm) },:class=>"btn btn-danger" do %>
		<i class="glyphicon glyphicon-trash"></i> <%=t(:link_delete) %>
		<% end %>
	</td>
</tr>