<div class="row">
	<h3 class="col-xs-12 col-sm-6"><%= @controller_name %> <%= actionNameChange controller.action_name %></h3>
</div>
<div class="table-responsive">
	<table class="table table-bordered table-striped">
		<tr>
			<th>Device</th>
			<th>Registration</th>
			<th>User</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		<% @devices.each do |device| %>
		<tr>
			<td><%= device.device_id %></td>
			<td><%= device.registration_id %></td>
			<td><%= device.user_id %></td>
			<td><%= link_to 'Show', device %></td>
			<td><%= link_to 'Edit', edit_device_path(device) %></td>
			<td><%= link_to 'Destroy', device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
		<% end %>
	</table>
</div>
<div class="row">
	<div class="col-xs-6 col-sm-3 col-md2">
		<% if can? :create, Devise %>
		<%= link_to new_admin_device_path, :class=>"btn btn-primary" do %>
		<i class="glyphicon glyphicon-plus"></i> <%= t(:link_new) %>
		<% end %>
		<% end %>
	</div>
	<%= paginate @devices %>
</div>

