<% if notice %>
<%= render :partial => 'layouts/notice',:locals=>{:notice=>notice} %>
<% end %>
<div class="sl_show">

<p>
  <b>Title:</b>
  <%= @attendance_setting.title %>
</p>

<p>
  <b>Headtext:</b>
  <%= @attendance_setting.headtext %>
</p>

<p>
  <b><%=t(:label_image) %></b>
  <%=image_tag @attendance_setting.photo.large_thumb %>
</p>

<p>
  <b>Prize5:</b>
  <%= @attendance_setting.prize5 %>
</p>

<p>
  <b>Prize10:</b>
  <%= @attendance_setting.prize10 %>
</p>

<p>
  <b>Prize15:</b>
  <%= @attendance_setting.prize15 %>
</p>

<p>
  <b>Prize20:</b>
  <%= @attendance_setting.prize20 %>
</p>

<p>
  <b>Prize25:</b>
  <%= @attendance_setting.prize25 %>
</p>

<p>
  <b>Prize30:</b>
  <%= @attendance_setting.prize30 %>
</p>

<p>
  <b>Flag:</b>
  <%= @attendance_setting.flag %>
</p>
</div>
<% if can? :update, @attendance_setting %>	
<%= link_to t(:link_edit), edit_admin_attendance_setting_path(@attendance_setting) %> |
<% end %>
<%= link_to t(:link_list), admin_attendance_settings_path %>
