<% if notice %>
<%= render :partial => 'layouts/notice',:locals=>{:notice=>notice} %>
<% end %>
<div class="sl_show">

<p>
  <b>Title:</b>
  <%= @attendance_event_prize.title %>
</p>

<p>
  <b>Headtext:</b>
  <%= @attendance_event_prize.headtext %>
</p>

<p>
  <b><%=t(:label_image) %></b>
  <%=image_tag @attendance_event_prize.photo.large_thumb %>
</p>

<p>
  <b>Prize5:</b>
  <%= @attendance_event_prize.prize5 %>
</p>

<p>
  <b>Prize10:</b>
  <%= @attendance_event_prize.prize10 %>
</p>

<p>
  <b>Prize15:</b>
  <%= @attendance_event_prize.prize15 %>
</p>

<p>
  <b>Prize20:</b>
  <%= @attendance_event_prize.prize20 %>
</p>

<p>
  <b>Prize25:</b>
  <%= @attendance_event_prize.prize25 %>
</p>

<p>
  <b>Prize30:</b>
  <%= @attendance_event_prize.prize30 %>
</p>

<p>
  <b>Flag:</b>
  <%= @attendance_event_prize.flag %>
</p>
</div>
<% if can? :update, @attendance_event_prize %>	
<%= link_to t(:link_edit), edit_admin_attendance_event_prize_path(@attendance_event_prize) %> |
<% end %>
<%= link_to t(:link_list), admin_attendance_event_prizes_path %>
