<%= form_for [:admin,@ad] do |f| %>
<% if @ad.errors.any? %>
<div id="error_explanation" class="alert alert-danger">
	<a href="#" class="close" data-dismiss="alert">&times;</a>
	<h2><%= pluralize(@ad.errors.count, "error") %> prohibited this ad from being saved:</h2>
	<ul>
		<% @ad.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<%= hidden_field_tag :page,params[:page]  %>
<%= hidden_field_tag :per_page,params[:per_page] %>

<fieldset>
	<legend>
		광고 등록 폼
	</legend>
	<div class="box">
		<div class="box-header">
			<h2><i class="glyphicon glyphicon-align-justify"></i><span class="break"></span><%= t(:form_ad_default) %></h2>
			<div class="box-icon">
				<a href="#" class="btn-minimize"><i class="glyphicon glyphicon-chevron-up"></i></a>
			</div>
		</div>
		<div class="box-content">
			<div class="form-group">
				<%= f.label :ad_type_id %>
				<%= f.select :ad_type_id, options_from_collection_for_select(AdType.where(:flag=>true).all, 'id', 'title',@ad.ad_type_id),{},:class => "form-control" %>
			</div>
			<div class="form-group">
				<%= f.label :sponsor_id %>
				<%= f.select :sponsor_id, options_from_collection_for_select(Sponsor.where(:flag=>true).all, 'id', 'title',@ad.sponsor_id),{},:class => "form-control" %>
			</div>
			<div class="form-group">
				<%= f.label :title %>
				<%= f.text_field :title, :required=>"required",:class => "form-control" %>
			</div>
			<div class="form-group">
				<%= f.label :description %>
				<%= f.text_field :description,:class => "form-control" %>
			</div>
			<div class="form-group">
				<%= f.label :agent_id %>
				<%= f.select :agent_id, options_from_collection_for_select(Admin.where(:flag=>true).all, 'id', 'nickname',@ad.agent_id),{},:class => "form-control" %>
			</div>
			<div class="form-group">
				<%= f.label :priority %>
				<%= f.check_box :priority %>
			</div>
			<div class="form-group">
				<%= f.label :flag %>
				<%= f.check_box :flag %>
			</div>
			<div class="form-group">
				<%= f.label :display_type %>
				<%= f.select :display_type, [['Default', 0], ['Time', 1], ['Count', 2]],{},:class => "form-control" %>
			</div>
			<%= f.fields_for :ad_memo do |c| %>
			<div class="form-group">
				<%= c.label :content %>
				<%= c.text_area :content, :rows =>10, :cols => 80,:class => "form-control" %>
			</div>
			<% end %>
		</div>
	</div>
	<%= f.fields_for :ad_option do |option| %>
	<div class="box">
		<div class="box-header">
			<h2><i class="glyphicon glyphicon-align-justify"></i><span class="break"></span><%= t(:form_ad_option) %></h2>
			<div class="box-icon">
				<a href="#" class="btn-minimize"><i class="glyphicon glyphicon-chevron-up"></i></a>
			</div>
		</div>
		<div class="box-content">
			<div class="form-group">
				<%= option.label :web_flag %>
				<%= option.check_box :web_flag %>
			</div>
			<div class="form-group">
				<%= option.label :web_addr %>
				<%= option.text_field :web_addr,:class => "form-control" %>
			</div>
			<div class="form-group">
				<%= option.label :web_comment %>
				<%= option.text_field :web_comment ,:class => "form-control"%>
			</div>
			<div class="form-group">
				<%= option.label :callback_flag %>
				<%= option.check_box :callback_flag %>
			</div>
			<div class="form-group">
				<%= option.label :callback_number %>
				<%= option.text_field :callback_number,:class => "form-control" %>
			</div>
			<div class="form-group">
				<%= option.label :callback_comment %>
				<%= option.text_field :callback_comment,:class => "form-control" %>
			</div>
			<div class="form-group">
				<%= option.label :html_data %>
				<%= option.text_area :html_data,:class => "form-control", :rows =>10, :cols => 80 %>
			</div>
		</div>
	</div>
	<% end %>
	<%= f.fields_for :ad_state do |state| %>
	<div class="box">
		<div class="box-header">
			<h2><i class="glyphicon glyphicon-align-justify"></i><span class="break"></span><%= t(:form_ad_count) %></h2>
			<div class="box-icon">
				<a href="#" class="btn-minimize"><i class="glyphicon glyphicon-chevron-up"></i></a>
			</div>
		</div>
		<div class="box-content">
			<table class="table table-bordered table-striped">
				<tr>
					<th>구분</th>
					<th>Target</th>
					<th>DayLimit</th>
					<th>Budget</th>
					<th>Cost</th>
					<th>Reward</th>
					<th>Total</th>
					<th>Today</th>
				</tr>
				<tr>
					<th>Expose</th>
					<td><%= state.number_field :expose_target %></td>
					<td><%= state.number_field :expose_daylimit %></td>
					<td><%= state.number_field :expose_budget  %></td>
					<td><%= state.number_field :expose_cost  %></td>
					<td><%= state.number_field :expose_reward  %></td>
					<td><%= state.number_field :expose_total  %></td>
					<td><%= state.number_field :expose_today  %></td>
				</tr>
				<tr>
					<th>View</th>
					<td><%= state.number_field :view_target  %></td>
					<td><%= state.number_field :view_daylimit  %></td>
					<td><%= state.number_field :view_budget  %></td>
					<td><%= state.number_field :view_cost  %></td>
					<td><%= state.number_field :view_reward  %></td>
					<td><%= state.number_field :view_total  %></td>
					<td><%= state.number_field :view_today  %></td>
				</tr>
				<tr>
					<th>Install</th>
					<td><%= state.number_field :install_target  %></td>
					<td><%= state.number_field :install_daylimit  %></td>
					<td><%= state.number_field :install_budget  %></td>
					<td><%= state.number_field :install_cost  %></td>
					<td><%= state.number_field :install_reward  %></td>
					<td><%= state.number_field :install_total  %></td>
					<td><%= state.number_field :install_today  %></td>
				</tr>
				<tr>
					<th>Extra</th>
					<td><%= state.number_field :extra_target  %></td>
					<td><%= state.number_field :extra_daylimit  %></td>
					<td><%= state.number_field :extra_budget  %></td>
					<td><%= state.number_field :extra_cost  %></td>
					<td><%= state.number_field :extra_reward  %></td>
					<td><%= state.number_field :extra_total  %></td>
					<td><%= state.number_field :extra_today  %></td>
				</tr>
			</table>
		</div>
	</div>
	<% end %>
	<div>
		<%= f.submit :class=>"btn btn-primary" %>
	</div>
</fieldset>
<% end -%>