<%= form_fo [:admin,@mobile_prefix] do |f| %>
<% if @mobile_prefix.errors.any? %>
<div id="error_explanation" class="alert alert-danger">
	<h2><%= pluralize(@mobile_prefix.errors.count, "error") %> prohibited this mobile_prefix from being saved:</h2>

	<ul>
		<% @mobile_prefix.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="form-group">
	<%= f.label :locale %>
	<%= f.text_field :locale,:class=>"form-control" %>
</div>
<div class="form-group">
	<%= f.label :prefix %>
	<%= f.text_field :prefix ,:class=>"form-control"%>
</div>
<div class="form-group">
	<%= f.label :prefix_length %>
	<%= f.number_field :prefix_length,:class=>"form-control" %>
</div>
<div class="form-group">
	<%= f.label :telco %>
	<%= f.text_field :telco %>
</div>
<div class="form-group actions">
	<%= f.submit %>
</div>
<% end %>
