<h1>Listing coupon_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Amount</th>
    <th>Flag</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @coupon_types.each do |coupon_type| %>
  <tr>
    <td><%= coupon_type.name %></td>
    <td><%= coupon_type.amount %></td>
    <td><%= coupon_type.flag %></td>
    <td><%= link_to 'Show', coupon_type %></td>
    <td><%= link_to 'Edit', edit_coupon_type_path(coupon_type) %></td>
    <td><%= link_to 'Destroy', coupon_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Coupon type', new_coupon_type_path %>
