<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String"><%=t(:label_number)%></Data></Cell>
        <Cell><Data ss:Type="String"><%=t(:label_login_id)%></Data></Cell>
        <Cell><Data ss:Type="String"><%=t(:label_request_amount)%></Data></Cell>
        <Cell><Data ss:Type="String"><%=t(:label_bankname)%></Data></Cell>
        <Cell><Data ss:Type="String"><%=t(:label_account_num)%></Data></Cell>
        <Cell><Data ss:Type="String"><%=t(:label_status) %></Data></Cell>
        <Cell><Data ss:Type="String"><%=t(:label_created_at)%></Data></Cell>
      </Row>
      <% @requests.each do |request| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= request.id %></Data></Cell>
        <Cell><Data ss:Type="String"><% if request.user %><%= request.user.username %><% else %><%=t(:no_exist_user) %><% end %></Data></Cell>
        <Cell><Data ss:Type="String"><%= request.user.username %></Data></Cell>
        <Cell><Data ss:Type="String"><%=link_to number_with_delimiter(request.amount), request_path(request) %></Data></Cell>
        <Cell><Data ss:Type="String"><% if request.bank %><%=request.bank.name %><% else %> 삭제등으로 존재하지 않는 은행 <% end %></Data></Cell>
        <Cell><Data ss:Type="String"><%=request.account_number %></Data></Cell>
        <Cell><Data ss:Type="String"><%=request.request_type.title %></Data></Cell>
        <Cell><Data ss:Type="String"><%= request.created_at %></Data></Cell>
      </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>
