<%= form_for(@address_section) do |f| %>
  <% if @address_section.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
    		<a href="#" class="close" data-dismiss="alert">&times;</a>
      <h2><%= pluralize(@address_section.errors.count, "error") %> prohibited this point from being saved:</h2>
      <ul>
      <% @address_section.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label :address_id %>
		 <%= f.select :address_id, options_from_collection_for_select(Address.find(:all,:conditions=>{:flag=>true}), 'id', 'full_address') %>
  </div>
  <div class="control-group">
    <%= f.label :section %>
    <%= f.number_field :section,:required=>"required" %>
  </div>
  <div class="control-group">
    <%= f.label :flag %>
    <%= f.check_box :flag %>
  </div>  
  <div class="actions">
    <%= f.submit :class=>'btn btn-primary' %>
  </div>
<% end %>
