<%= form_for [:admin,@address_section] do |f| %>
<% if @address_section.errors.any? %>
<div id="error_explanation" class="alert alert-danger">
	<a href="#" class="close" data-dismiss="alert">&times;</a>
	<h2><%= pluralize(@address_section.errors.count, "error") %> prohibited this point from being saved:</h2>
	<ul>
		<% @address_section.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="form-group">
	<%= f.label :address_id %>
	<%= f.select :address_id, options_from_collection_for_select(Address.where(:flag=>true).all(), 'id', 'full_address') %>
</div>
<div class="form-group">
	<%= f.label :section %>
	<%= f.number_field :section,:required=>"required" %>
</div>
<div class="form-group">
	<%= f.label :flag %>
	<%= f.check_box :flag %>
</div>
<div class="actions">
	<%= f.submit :class=>'btn btn-primary' %>
</div>
<% end %>
