<%= form_for([@user,UserTarget.new]) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
    		<a href="#" class="close" data-dismiss="alert">&times;</a>
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this request from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :target_id,t(:label_target) %>
		 <%= f.select :target_id, options_from_collection_for_select(Target.find(:all,:conditions=>{:flag=>true}), 'id', 'title') %>
  </div>
 	<div class="actions">
 		<%= f.submit :class=>"btn btn-primary" %>
 	</div>
<% end %>