<%= form_for([@user_target.user,@user_target]) do |f| %>
  <% if @user_target.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
    		<a href="#" class="close" data-dismiss="alert">&times;</a>
      <h2><%= pluralize(@user_target.errors.count, "error") %> prohibited this request from being saved:</h2>
      <ul>
      <% @user_target.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 	<div class="form-group">
		<%= f.label :target_id %>
		<%= f.select :target_id, options_from_collection_for_select(Target.find(:all,:conditions=>{:flag=>true}), 'id', 'title',@user_target.target_id) %>
 	</div>
 	<div class="actions">
 		<%= f.submit :class=>"btn btn-primary" %>
 	</div>
<% end %>