<%= form_for(@user_login_log) do |f| %>
  <% if @user_login_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_login_log.errors.count, "error") %> prohibited this user_login_log from being saved:</h2>

      <ul>
      <% @user_login_log.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :device_id %><br />
    <%= f.text_field :device_id %>
  </div>
  <div class="field">
    <%= f.label :client_ip %><br />
    <%= f.text_field :client_ip %>
  </div>
  <div class="field">
    <%= f.label :flag %><br />
    <%= f.check_box :flag %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
