<%= form_for([@ad_schedule.ad,@ad_schedule,AdTargetAddress.new]) do |f| %>
<div class="box">
	<div class="box-header">
		<h2><i class="glyphicon glyphicon-align-justify"></i><span class="break"></span><%=t(:label_target_address)%></h2>
		<div class="box-icon">
			<a href="#" class="btn-minimize"><i class="glyphicon glyphicon-chevron-up"></i></a>
			<a class="btn-close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
		</div>
	</div>
	<div class="box-content">
 		<div class="form-group">
			<%= f.label :address_id,t(:label_target_address) %>
			<%= f.number_field :address_id %> <%=link_to t(:address_id_find),'/addresses/address_id_select',:id=>'address_id_select',:title=>t(:address_id_find),:target=>'_blank',:class=>'btn modal_link',:'data-target'=>"#modal",:'data-toggle'=>"modal",:style=>'vertical-align:top' %>
 		</div>
 		<div class="form-group actions">
	 		<%= f.submit :class=>"btn btn-primary" %>
 		</div>
 	</div>
</div>
<% end %>